<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>Life.Church Instagram Images</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
        <div class="container">
            <a class="message-name" href="{{ message.url }}">{{ message.name }}</a>
            {% for i in range %}
                <a class="part-link" href="./{{ i|string() }}">Part {{ i }}</a>
            {% endfor %}
        </div>
    </body>
</html>